* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.unordered {
  display: flex;
  flex-wrap: wrap;
  margin: 1%;
}

.listItem {
  border: 1px solid red;
  padding: 4px;
  border-radius: 16px;
  width: 21%;
  overflow: auto;
  margin: 2px;
}

.image {
  width: 40%;
}
